header {
    position: fixed;
    height: 42px;
    width: 300px;
    top: 20px;
    background: #3a3a3a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 20px 0px #1e1e1e;
}

.logo-block {
    text-align: center;
    font-weight: 600;
    width: 55px;
    margin: 0px auto;
    box-sizing: content-box;
    background: #d63e16cc;
    color: #131313;
    position: absolute;
    left: 20px;
    top: -4px;
    box-shadow: 0 0 10px 0px #000000;
}

.logo-block span:first-child {
    color: #f14316;
    background: #f9f9f9;
}

.logo-block span {
    padding: 2px 6px;
    display: block;
    background: #f14316;
    color: #fff;
}

nav{
    margin-left: 75px;
}

nav ul{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
}



nav ul li span{
    font-size: 8px;
    display: none;
}

nav ul li.active{
    height: 42px;
    width: 60px;
    text-align: center;
    background: #2e2e2e;
}

nav ul li.active span{
    font-size: 8px;
    display: block;
    line-height: 6px;
}